{% extends 'partials/base.html' %}
{% load static %}
{% block content %} 

{% comment %} <!--------------------------------- BANNER SECTION START ---------------------------------> {% endcomment %}
    <div class="banner banner-inner">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-6 col-md-9 col-8">
                    <div class="breadcrumb-txt">
                        <h1>Shopping Cart</h1>
                        <ul>
                            <li><a href="{% url 'core:index' %}"><i class="fa-regular fa-house"></i></a></li>
                            <li>/</li>
                            <li>Cart</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-3 col-4">
                    <div class="part-img">
                        <img src="{% static 'assets/images/breadcrumb-img.png' %}" alt="Image">
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% comment %} <!--------------------------------- BANNER SECTION END ---------------------------------> {% endcomment %}



    {% comment %} <!--------------------------------- CART SECTION START ---------------------------------> {% endcomment %}
    <div class="tab-section py-120">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="tab-nav">
                        <button class="single-nav active" data-tab="cartTab">
                            <span class="txt">Shopping Cart</span>
                            <span class="sl-no">01</span>
                        </button>
                        <button class="single-nav" data-tab="checkOutTab" disabled>
                            <span class="txt">Place Request</span>
                            <span class="sl-no">02</span>
                        </button>
                        <button class="single-nav" data-tab="orderCompletedTab" disabled>
                            <span class="txt">Request Completed</span>
                            <span class="sl-no">03</span>
                        </button>
                    </div>
                    <div class="tab-contents">
                        <div class="single-tab active" id="cartTab">
                            <div class="table-wrap revel-table">
                                <div class="table-responsive">
                                    <table class="table table-borderless">
                                        <thead>
                                            <tr>
                                                <th>Image</th>
                                                <th>Product Name</th>
                                                <th>Price</th>
                                                <th>Quantity</th>
                                                <th>Refresh</th>
                                                <th>Total</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for product_id, item in cart_data.items %}
                                            <tr>
                                                <td>
                                                    <div class="product-img">
                                                        <img src="{{ item.image }}" alt="Image">
                                                    </div>
                                                </td>
                                                <td><a href="{% url 'core:product-detail' item.pid %}" class="product-name">{{ item.title }}</a></td>
                                                <td><span class="price-txt">Rs <span class="main-price">{{ item.price }}</span></span></td>
                                                <td>
                                                    <div class="product-count cart-product-count">
                                                        <div class="quantity rapper-quantity">
                                                            <input type="number" placeholder= "Qty" class="w-30 product-qty-{{ product_id }}" value= {{ item.qty }} name="" id="">
                                                        </div>  

                                                    </div>
                                                </td>
                                                <td>
                                                    <button class="update-product" id="update-product" data-product="{{ product_id }}" ><i class="fa-light fa-refresh"></i></button>
                                                </td>
                                                <td><span class="price-txt">Rs <span class="total-price">{% widthratio item.price 1 item.qty %}</span></span></td>
                                                <td><button class="delete-product" id="delete-product" data-product="{{ product_id }}" ><i class="fa-light fa-trash-can"></i></button></td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            {% comment %} <div class="btn-box"> {% endcomment %}
                                
                                {% comment %} <button class="def-btn" id="cartUpdate" disabled>Update Cart</button> {% endcomment %}
                            {% comment %} </div> {% endcomment %}
                            <div class="cart-total-panel">
                                <h3 class="title" style="text-align: center;">Cart Total</h3>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <a href="{% url 'core:product-list' %}" class="def-btn">Continue Shopping</a>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="calculate-area">
                                                <ul>
                                                    <li>Sub Total <span class="price-txt">Rs <span class="sub-total">{{ cart_total_amount|floatformat:2 }}</span></span></li>
                                                    {% comment %} <li>Shipping <span class="price-txt" id="shippingFee"><span class="text-success">Free</span></span></li> {% endcomment %}
                                                    <li class="total-price-wrap">Total <span class="price-txt">Rs <span id="totalPrice">{{ cart_total_amount|floatformat:2 }}</span></span></li>
                                                </ul>
                                                <button class="def-btn tab-next-btn" ><a href="{% url 'core:checkout' %}">Proceed to place your request </a> <i class="fa-light fa-cart-circle-check"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% comment %} <!--------------------------------- CART SECTION END ---------------------------------> {% endcomment %}


{% endblock content %}