{% extends 'partials/base.html' %}
{% load static %}
{% block content %}




    {% comment %} <!--------------------------------- ACCOUNT START ---------------------------------> {% endcomment %}
    <div class="account py-120">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-4">
                    <div class="account-sidebar">
                        <div class="user">
                            <div class="part-img">
                                {% if profile.image %}
                                    <img class="v-img" src="{{ profile.image.url }}" alt="user image">
                                {% else %}
                                    <img class="v-img" src="{% static 'assets/images/user.jpg' %}" alt="user image">
                                {% endif %}
                            </div>
                            <div class="part-txt">
                                <h3>Hi, {{profile.first_name|title}}</h3>
                            </div>
                        </div>
                        <div class="nav flex-column" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            <button class="nav-link active" id="v-pills-dashboard-tab" data-bs-toggle="pill" data-bs-target="#v-pills-dashboard" type="button" role="tab" aria-controls="v-pills-dashboard" aria-selected="true"><span class="icon"><i class="fa-duotone fa-objects-column"></i></span> <span class="txt">Transactions</span></button>
                            <button class="nav-link" id="v-pills-quotation-tab" data-bs-toggle="pill" data-bs-target="#v-pills-quotation" type="button" role="tab" aria-controls="v-pills-quotation" aria-selected="false"><span class="icon"><i class="fa-duotone fa-file-alt"></i></span> <span class="txt">Quotations</span></button>
                            <button class="nav-link" id="v-pills-invoice-tab" data-bs-toggle="pill" data-bs-target="#v-pills-invoice" type="button" role="tab" aria-controls="v-pills-invoice" aria-selected="false"><span class="icon"><i class="fa-duotone fa-file-invoice"></i></span> <span class="txt">Invoices(VAT)</span></button>
                            <button class="nav-link" id="v-pills-receipt-tab" data-bs-toggle="pill" data-bs-target="#v-pills-receipt" type="button" role="tab" aria-controls="v-pills-receipt" aria-selected="false"><span class="icon"><i class="fa-duotone fa-receipt"></i></span> <span class="txt">Receipts</span></button>
                            {% comment %} <button class="nav-link" id="v-pills-wallet-tab" data-bs-toggle="pill" data-bs-target="#v-pills-wallet" type="button" role="tab" aria-controls="v-pills-wallet" aria-selected="false"><span class="icon"><i class="fa-duotone fa-wallet"></i></span> <span class="txt">My Wallet</span></button> {% endcomment %}
                            <button class="nav-link" id="v-pills-forum-tab" data-bs-toggle="pill" data-bs-target="#v-pills-forum" type="button" role="tab" aria-controls="v-pills-forum" aria-selected="false"><span class="icon"><i class="fa-duotone fa-file-image"></i></span> <span class="txt">Forum</span></button>
                            <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false"><span class="icon"><i class="fa-duotone fa-user-vneck"></i></span> <span class="txt">Manage Profile</span></button>
                            <a href="{% url 'userauths:sign-out' %}" class="nav-link"><span class="icon"><i class="fa-duotone fa-power-off"></i></span> <span class="txt">Log out</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-8">
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-dashboard" role="tabpanel" aria-labelledby="v-pills-dashboard-tab" tabindex="0">
                            <h2 class="account-title">Transactions</h2>
                            <div class="table-wrap">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Date</th>
                                                <th>File</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for quotation in quotations %}
                                            <tr>
                                                <td><span class="id">{{ quotation.quotation_number }}</span></td>
                                                <td><span class="date">{{ quotation.date }}</span></td>
                                                <td><span class="amount">{{ quotation.file.url }}</span></td>
                                                <td><span class="status"><span class="paid">{{quotation.payment_status}}</span></span></td>
                                            </tr>
                                            {% endfor %}
                                            {% for invoice in invoices %}
                                            <tr>
                                                <td><span class="invoice-id">{{ invoice.invoice_number }}</span></td>
                                                <td><span class="date">{{ invoice.date }}</span></td>
                                                <td><span class="file">{{ invoice.file.url }}</span></td>
                                                <td><span class="status"><span class="unpaid">{{invoice.payment_status}}</span></span></td>
                                            </tr>
                                            {% endfor %}
                                            {% for receipt in receipts %}
                                            <tr>
                                                <td><span class="invoice-id">{{ receipt.receipt_number }}</span></td>
                                                <td><span class="date">{{ receipt.date }}</span></td>
                                                <td><span class="file">{{ receipt.file.url }}</span></td>
                                                <td><span class="status"><span class="paid">{{receipt.payment_status}}</span></span></td>
                                            </tr>
                                            {% endfor %}
                                           
                                           
                            
                                        </tbody>
                                    </table>
                                </div>
                                
                            </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-quotation" role="tabpanel" aria-labelledby="v-pills-quotation-tab" tabindex="0">
                            <h2 class="account-title">Quotations</h2>
                            <div class="table-wrap">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Quotation ID</th>
                                                <th>Date</th>
                                                <th>Document</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        {% for quotation in quotations %}
                                        <tbody>
                                            <tr>
                                                <td><a href="{{ quotation.file.url }}"download><span class="invoice-id">{{ quotation.quotation_number }}</span></a></td>
                                                <td><span class="date">{{ quotation.date }}</span></td>
                                                <td><a href="{{ quotation.file.url }}"download><span class="invoice-id">Download</span></a></td>
                                                <td><span class="date">{{ quotation.payment_status }}</span></td>
                                            </tr>
                                        </tbody>
                                        {% endfor %}
                                    </table>
                                </div>
                                
                            </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-invoice" role="tabpanel" aria-labelledby="v-pills-invoice-tab" tabindex="0">
                            <h2 class="account-title">Invoices (VAT)</h2>
                            <div class="table-wrap">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Invoice-ID</th>
                                                <th>Date</th>
                                                <th>Document</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        
                                        {% for invoice in invoices %}
                                        <tbody>
                                            <tr>
                                                <td><a href="{{ invoice.file.url }}"download><span class="invoice-id">{{ invoice.invoice_number }}</span></a></td>
                                                <td><span class="date">{{ invoice.date }}</span></td>
                                                <td><a href="{{ invoice.file.url }}"download><span class="invoice-id">Download</span></a></td>
                                                <td><span class="details">{{ invoice.payment_status }}</span></td>
                                            </tr>
                                        </tbody>
                                        {% endfor %}
                                        
                                    </table>
                                </div>
                                
                            </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-receipt" role="tabpanel" aria-labelledby="v-pills-receipt-tab" tabindex="0">
                            <h2 class="account-title">Receipts</h2>
                            <div class="table-wrap">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Receipt-ID</th>
                                                <th>Date</th>
                                                <th>Document</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        
                                        {% for receipt in receipts %}
                                        <tbody>
                                            <tr>
                                                <td><a href="{{ receipt.file.url }}"download><span class="invoice-id">{{ receipt.receipt_number }}</span></a></td>
                                                <td><span class="date">{{ receipt.date }}</span></td>
                                                <td><a href="{{ receipt.file.url }}"download><span class="invoice-id">Download</span></a></td>
                                                <td><span class="details">{{ receipt.payment_status }}</span></td>
                                            </tr>
                                        </tbody>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                
                            </div>
                        </div>
                        {% comment %} <div class="tab-pane fade" id="v-pills-wallet" role="tabpanel" aria-labelledby="v-pills-wallet-tab" tabindex="0">
                            <h2 class="account-title">My Wallet</h2>
                            <div class="row g-4">
                                <div class="col-md-6">
                                    <div class="total-balance">
                                        <div class="top">
                                            <h4>Total Balance</h4>
                                            <div class="tags">
                                                <span class="tag tag-up"><i class="fa-light fa-arrow-up-right"></i> Rs 600.99</span>
                                                <span class="tag tag-down"><i class="fa-light fa-arrow-down-left"></i> Rs 700.99</span>
                                            </div>
                                        </div>
                                        <div class="middle">
                                            <h3>Rs 7,950.96</h3>
                                        </div>
                                        <div class="btn-box">
                                            <a href="#" class="def-btn">Deposit</a>
                                            <a href="#" class="def-btn">Withdraw</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="chart-panel">
                                        <div class="custom-legend">
                                            <div class="single-legend">income</div>
                                            <div class="single-legend">withdrawals</div>
                                        </div>
                                        <div id="overviewChart"></div>
                                    </div>
                                </div> 
                                <div class="col-12">
                                    <div class="table-wrap">
                                        <div class="table-top">
                                            <h4 class="title">Transfer History</h4>
                                            <form class="search-box">
                                                <input type="search" placeholder="Search">
                                                <button type="submit"><i class="fa-regular fa-magnifying-glass"></i></button>
                                            </form>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>ID</th>
                                                        <th>Date</th>
                                                        <th>Transfer type</th>
                                                        <th>Amount</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>INV-012-345</td>
                                                        <td>Jun 21, 2022</td>
                                                        <td>
                                                            <div class="details"><a href="" class="product-name">AY Exclusive Furniture</a></div>
                                                        </td>
                                                        <td>Rs 256</td>
                                                    </tr>
                                                    
                                                </tbody>
                                            </table>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div> {% endcomment %}
                        <div class="tab-pane fade" id="v-pills-forum" role="tabpanel" aria-labelledby="v-pills-forum-tab" tabindex="0">
                            <h2 class="account-title">Forum</h2>
                            <div class="profile-panel">
                                <div class="profile-top">
                                    <div class="user">
                                        <div class="part-img">
                                            {% if profile.image %}
                                                <img class="v-img" src="{{ profile.image.url }}" alt="user image">
                                            {% else %}
                                                <img class="v-img" src="{% static 'assets/images/user.jpg' %}" alt="user image">
                                            {% endif %}
                                        </div>
                                        <div class="part-txt">
                                            <span>{{ profile.full_name }}</span>
                                        </div>
                                    </div>
                                </div>
                                <h2>Upload Image</h2>
                                <h6>You can upload images of projects AY Exclusive have done for you</h6>
                                </br></br>
                                <form method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                   
                                    <div class="row g-lg-4 g-3">
                                        {{ image_form.image.label_tag }} {{ image_form.image }}
                                                                              
                                        {{ image_form.description.label_tag }} {{ image_form.description }}
                                        
                                        <div class="col-12">
                                            <div class="btn-box">
                                                <button class="def-btn" type="submit">Upload</button>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </form>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab" tabindex="0">
                            <h2 class="account-title">Manage Profile</h2>
                            <div class="profile-panel">
                                <div class="profile-top">
                                    <div class="user">
                                        <div class="part-img">
                                            {% if profile.image %}
                                                <img class="v-img" src="{{ profile.image.url }}" alt="user image">
                                            {% else %}
                                                <img class="v-img" src="{% static 'assets/images/user.jpg' %}" alt="user image">
                                            {% endif %}
                                        </div>
                                        <div class="part-txt">
                                            <span>{{ profile.full_name }}</span>
                                        </div>
                                    </div>
                                </div>
                                <form action="" method= "POST" enctype="multipart/form-data"> 
                                    {% csrf_token %}
                                    
                                    <div class="row g-lg-4 g-3">
                                        {{ form.as_p }}
                                        <div class="col-12">
                                            <div class="btn-box">
                                                <button class="def-btn" type="submit">Save Changes</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




    </div>
    {% comment %} <!--------------------------------- ACCOUNT END ---------------------------------> {% endcomment %}



{% endblock content %}