{% extends 'partials/base.html' %}
{% load static %}
{% block content %}




    {% comment %} <!--------------------------------- ACCOUNT START ---------------------------------> {% endcomment %}
    <div class="account py-120">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-4">
                    <div class="account-sidebar">
                        <div class="user">
                            <div class="part-img">
                                {% if profile.image %}
                                    <img class="v-img" src="{{ profile.image.url }}" alt="user image">
                                {% else %}
                                    <img class="v-img" src="{% static 'assets/images/user.jpg' %}" alt="user image">
                                {% endif %}
                            </div>
                            <div class="part-txt">
                                <h3>Hi {{user.username|title}}</h3>
                            </div>
                        </div>
                        <div class="nav flex-column" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            <button class="nav-link active" id="v-pills-statement-tab" data-bs-toggle="pill" data-bs-target="#v-pills-statement" type="button" role="tab" aria-controls="v-pills-statement" aria-selected="true"><span class="icon"><i class="fa-duotone fa-file-alt"></i></span> <span class="txt">Balance Statement</span></button>
                            <button class="nav-link" id="v-pills-dashboard-tab" data-bs-toggle="pill" data-bs-target="#v-pills-dashboard" type="button" role="tab" aria-controls="v-pills-dashboard" aria-selected="false"><span class="icon"><i class="fa-duotone fa-objects-column"></i></span> <span class="txt">Transactions</span></button>
                            <button class="nav-link" id="v-pills-quotation-tab" data-bs-toggle="pill" data-bs-target="#v-pills-quotation" type="button" role="tab" aria-controls="v-pills-quotation" aria-selected="false"><span class="icon"><i class="fa-duotone fa-file-alt"></i></span> <span class="txt">Quotations</span></button>
                            <button class="nav-link" id="v-pills-invoice-tab" data-bs-toggle="pill" data-bs-target="#v-pills-invoice" type="button" role="tab" aria-controls="v-pills-invoice" aria-selected="false"><span class="icon"><i class="fa-duotone fa-file-invoice"></i></span> <span class="txt">Invoices</span></button>
                            <button class="nav-link" id="v-pills-receipt-tab" data-bs-toggle="pill" data-bs-target="#v-pills-receipt" type="button" role="tab" aria-controls="v-pills-receipt" aria-selected="false"><span class="icon"><i class="fa-duotone fa-receipt"></i></span> <span class="txt">Receipts</span></button>
                            <button class="nav-link" id="v-pills-documents-tab" data-bs-toggle="pill" data-bs-target="#v-pills-documents" type="button" role="tab" aria-controls="v-pills-documents" aria-selected="false"><span class="icon"><i class="fa-duotone fa-file-upload"></i></span> <span class="txt">Other Documents</span></button>
                            <button class="nav-link" id="v-pills-wallet-tab" data-bs-toggle="pill" data-bs-target="#v-pills-wallet" type="button" role="tab" aria-controls="v-pills-wallet" aria-selected="false"><span class="icon"><i class="fa-duotone fa-wallet"></i></span> <span class="txt">My Wallet</span></button>
                            <button class="nav-link" id="v-pills-forum-tab" data-bs-toggle="pill" data-bs-target="#v-pills-forum" type="button" role="tab" aria-controls="v-pills-forum" aria-selected="false"><span class="icon"><i class="fa-duotone fa-file-image"></i></span> <span class="txt">Forum</span></button>
                            <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false"><span class="icon"><i class="fa-duotone fa-user-vneck"></i></span> <span class="txt">Manage Profile</span></button>
                            <a href="{% url 'userauths:sign-out' %}" class="nav-link"><span class="icon"><i class="fa-duotone fa-power-off"></i></span> <span class="txt">Log out</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-8">
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-statement" role="tabpanel" aria-labelledby="v-pills-statement-tab" tabindex="0">
                            <h2 class="account-title">{{ user_wallet.user.username|title }}'s Balance Statement</h2>
                            <div class="row g-4">
                                <div class="col-md-6">
                                    <div class="total-balance">
                                        <div class="top">
                                            <h4>Overall Outstanding Balance</h4>
                                            
                    
                                        </div>
                                        
                                        <div class="middle">
                                            <h3>Rs {{ overall_balance }}</h3>
                                        </div>
                                        
                                        
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    
                                </div> 
                                <div class="col-12">
                                    <div class="table-wrap">
                                        <div class="table-top">
                                            <h4 class="title">Balance Statement</h4>
                                            
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>Date</th>
                                                        <th>Description</th>
                                                        <th>Invoice_no</th>
                                                        <th>Invoice_amount(Rs)</th>
                                                        <th>Paid_amount(Rs)</th>
                                                        <th>Balance(Rs)</th>
                                                    </tr>
                                                </thead>
                                                
                                                    <tbody>
                                                        {% for statement in statements %}
                                                            <tr>
                                                                <td>{{ statement.date }}</td>
                                                                <td>
                                                                    {{ statement.description }}
                                                                </td>
                                                                <td>{{ statement.invoice_no }}</td>
                                                                <td>{{ statement.invoice_amount }}</td>
                                                                <td>{{ statement.paid_amount }}</td>
                                                                <td>{{ statement.balance_amount }}</td>
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                
                                            </table>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="v-pills-dashboard" role="tabpanel" aria-labelledby="v-pills-dashboard-tab" tabindex="0">
                            <h2 class="account-title">Transactions</h2>
                            <div class="table-wrap">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Date</th>
                                                <th>File</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for quotation in quotations %}
                                            <tr>
                                                <td><span class="id">{{ quotation.quotation_number }}</span></td>
                                                <td><span class="date">{{ quotation.quotation_date }}</span></td>
                                                <td><a href="{{ quotation.file.url }}"download><span class="invoice-id">Download file</span></a></td>
                                                <td><span class="status"><span class="paid">{{quotation.payment_status}}</span></span></td>
                                            </tr>
                                            {% endfor %}
                                            {% for invoice in invoices %}
                                            <tr>
                                                <td><span class="invoice-id">{{ invoice.invoice_number }}</span></td>
                                                <td><span class="date">{{ invoice.invoice_date }}</span></td>
                                                <td><a href="{{ invoice.file.url }}"download><span class="invoice-id">Download file</span></a></td>
                                                <td><span class="status"><span class="unpaid">{{invoice.payment_status}}</span></span></td>
                                            </tr>
                                            {% endfor %}
                                            {% for receipt in receipts %}
                                            <tr>
                                                <td><span class="invoice-id">{{ receipt.receipt_number }}</span></td>
                                                <td><span class="date">{{ receipt.receipt_date }}</span></td>
                                                <td><a href="{{ receipt.file.url }}"download><span class="invoice-id">Download file</span></a></td>
                                                
                                            {% endfor %}
                                           
                                           
                            
                                        </tbody>
                                    </table>
                                </div>
                                
                            </div>
                        </div>
                        
                        <div class="tab-pane fade" id="v-pills-quotation" role="tabpanel" aria-labelledby="v-pills-quotation-tab" tabindex="0">
                            <h2 class="account-title">Quotations</h2>
                            <div class="table-wrap">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Quotation ID</th>
                                                <th>Date</th>
                                                <th>Document</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        {% for quotation in quotations %}
                                        <tbody>
                                            <tr>
                                                <td><a href="{{ quotation.file.url }}"download><span class="invoice-id">{{ quotation.quotation_number }}</span></a></td>
                                                <td><span class="date">{{ quotation.quotation_date }}</span></td>
                                                <td><a href="{{ quotation.file.url }}"download><span class="invoice-id">Download file</span></a></td>
                                                <td>
                                                    {% if not quotation.is_approved %}
                                                    
                                                    <button class="def-btn approve2" type="button" data-bs-toggle="modal" data-bs-target="#quotationModal" data-quotation-id="{{ quotation.id }}">Approve</button>


                                                    {% else %}
                                                        <p>Approved</p>
                                                    {% endif %}
                                                <td>
                                            </tr>
                                        </tbody>
                                        {% endfor %}
                                    </table>
                                </div>
                                
                            </div>
                        </div>
                        
                        <div class="tab-pane fade" id="v-pills-invoice" role="tabpanel" aria-labelledby="v-pills-invoice-tab" tabindex="0">
                            <h2 class="account-title">Invoices </h2>
                            <div class="table-wrap">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Invoice-ID</th>
                                                <th>Date</th>
                                                <th>Document</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        
                                        {% for invoice in invoices %}
                                        <tbody>
                                            <tr>
                                                <td><a href="{{ invoice.file.url }}"download><span class="invoice-id">{{ invoice.invoice_number }}</span></a></td>
                                                <td><span class="date">{{ invoice.invoice_date }}</span></td>
                                                <td><a href="{{ invoice.file.url }}"download><span class="invoice-id">Download file</span></a></td>
                                                <td>
                                                    {% if invoice.payment_status == "paid" %}
                                                        <span class="invoice"><b>Paid</b></span>
                                                    {% else %}
                                                        <button class="def-btn approve" type="button" data-bs-toggle="modal" data-bs-target="#invoiceModal" data-invoice-id="{{ invoice.id }}" data-invoice-url="{% url 'core:invoice-details' invoice.id %}">Approve</button>
                                                    {% endif %}
                                                </td>
                                                                                                
                                            </tr>
                                        </tbody>
                                        {% endfor %}
                                        
                                    </table>
                                </div>
                                
                            </div>
                        </div>

                        <div class="tab-pane fade" id="v-pills-receipt" role="tabpanel" aria-labelledby="v-pills-receipt-tab" tabindex="0">
                            <h2 class="account-title">Receipts</h2>
                            <div class="table-wrap">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Receipt-ID</th>
                                                <th>Date</th>
                                                <th>Document</th>
                                                
                                            </tr>
                                        </thead>
                                        
                                        {% for receipt in receipts %}
                                        <tbody>
                                            <tr>
                                                <td><a href="{{ receipt.file.url }}"download><span class="invoice-id">{{ receipt.receipt_number }}</span></a></td>
                                                <td><span class="date">{{ receipt.receipt_date }}</span></td>
                                                <td><a href="{{ receipt.file.url }}"download><span class="invoice-id">Download</span></a></td>
                                                
                                            </tr>
                                        </tbody>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                
                            </div>
                        </div>

                        <div class="tab-pane fade" id="v-pills-documents" role="tabpanel" aria-labelledby="v-pills-documents-tab" tabindex="0">
                            <h2 class="account-title">Other Documents</h2>
                            <div class="table-wrap">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Document-ID</th>
                                                <th>Date</th>
                                                <th>Download</th>
                                            </tr>
                                        </thead>
                                        
                                        {% for document in documents %}
                                        <tbody>
                                            <tr>
                                                <td><a href="{{ document.file.url }}"download><span class="invoice-id">{{ document.document_number }}</span></a></td>
                                                <td><span class="date">{{ document.document_date }}</span></td>
                                                <td><a href="{{ document.file.url }}"download><span class="invoice-id">Download</span></a></td>
                                            </tr>
                                        </tbody>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                
                            </div>
                        </div>

                        <div class="tab-pane fade" id="v-pills-wallet" role="tabpanel" aria-labelledby="v-pills-wallet-tab" tabindex="0">
                            <h2 class="account-title">{{ user_wallet.user.username|title }}'s Wallet</h2>
                            <div class="row g-4">
                                <div class="col-md-6">
                                    <div class="total-balance">
                                        <div class="top">
                                            <h4>Wallet Balance</h4>
                                            
                                        </div>
                                        <div class="middle">
                                            <h3>Rs {{ user_wallet.balance }}</h3>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    
                                </div> 
                                <div class="col-12">
                                    <div class="table-wrap">
                                        <div class="table-top">
                                            <h4 class="title">Transfer History</h4>
                                            
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>Date</th>
                                                        <th>Transfer type</th>
                                                        <th>Description</th>
                                                        <th>Amount</th>
                                                    </tr>
                                                </thead>
                                                
                                                    <tbody>
                                                        {% for transaction in transactions %}
                                                            <tr>
                                                                <td>{{ transaction.timestamp }}</td>
                                                                <td>
                                                                    <div class="details"><a href="" class="product-name">{{ transaction.transaction_type }}</a></div>
                                                                </td>
                                                                <td>{{ transaction.description }}</td>
                                                                <td>Rs{{ transaction.amount }}</td>
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                
                                            </table>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="tab-pane fade" id="v-pills-forum" role="tabpanel" aria-labelledby="v-pills-forum-tab" tabindex="0">
                            <h2 class="account-title">Forum</h2>
                            <div class="profile-panel">
                                <div class="profile-top">
                                    <div class="user">
                                        <div class="part-img">
                                            {% if profile.image %}
                                                <img class="v-img" src="{{ profile.image.url }}" alt="user image">
                                            {% else %}
                                                <img class="v-img" src="{% static 'assets/images/user.jpg' %}" alt="user image">
                                            {% endif %}
                                        </div>
                                        <div class="part-txt">
                                            <span>{{ profile.full_name }}</span>
                                        </div>
                                    </div>
                                </div>
                                <h2>Upload Image</h2>
                                <h6>You can upload images of projects AY Exclusive have done for you</h6>
                                </br></br>
                                <form method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                   
                                    <div class="row g-lg-4 g-3">
                                        {{ image_form.image.label_tag }} {{ image_form.image }}
                                                                              
                                        {{ image_form.description.label_tag }} {{ image_form.description }}
                                        
                                        <div class="col-12">
                                            <div class="btn-box">
                                                <button class="def-btn" type="submit">Upload</button>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </form>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab" tabindex="0">
                            <h2 class="account-title">Manage Profile</h2>
                            <div class="profile-panel">
                                <div class="profile-top">
                                    <div class="user">
                                        <div class="part-img">
                                            {% if profile.image %}
                                                <img class="v-img" src="{{ profile.image.url }}" alt="user image">
                                            {% else %}
                                                <img class="v-img" src="{% static 'assets/images/user.jpg' %}" alt="user image">
                                            {% endif %}
                                        </div>
                                        <div class="part-txt">
                                            <span>{{ profile.full_name }}</span>
                                        </div>
                                    </div>
                                </div>
                                <form action="" method= "POST" enctype="multipart/form-data"> 
                                    {% csrf_token %}
                                    
                                    <div class="row g-lg-4 g-3">
                                        {{ form.as_p }}
                                        <div class="col-12">
                                            <div class="btn-box">
                                                <button class="def-btn" type="submit">Save Changes</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% comment %} <!--------------------------------- INVOICE MODAL START ---------------------------------> {% endcomment %}
        <div class="invoice-modal modal fade" id="invoiceModal" tabindex="-1" aria-labelledby="invoiceModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="account-title mb-0" id="invoiceModalLabel">Approve Invoice and proceed to make payment</h2>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="invoice-wrap">
                            <div class="invoice-top d-flex justify-content-between align-items-center">
                                <div class="left">
                                    <div class="logo"><img src="{% static 'assets/images/logos/AY11.png' %}" alt="LOGO"></div>
                                    <p>Please refer to the policies below and check the boxes before proceeding to payment</p>
                                </div>
                            </div>
                            <div class="invoice-body">
                                <div class="items">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="termsCheckbox" required>
                                        <label class="form-check-label" for="termsCheckbox">
                                            I agree to the <a href="{% url 'core:terms-and-conditions'%}" target="_blank"><b>"Terms and Conditions"</b></a> (Click on the link to view Terms and Conditions)
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="refundCheckbox" required>
                                        <label class="form-check-label" for="refundCheckbox">
                                            I agree to the <a href="{% url 'core:refund-policy'%}" target="_blank"><b>"Refund Policy"</b></a> (Click on the link to view Refund Policy)
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="warrantyCheckbox" required>
                                        <label class="form-check-label" for="warrantyCheckbox">
                                            I agree to the <a href="{% url 'core:warranty-policy'%}" target="_blank"><b>"Warranty Policy"</b></a> (Click on the link to view Warranty Policy)
                                        </label>
                                    </div>
                                </div>
                            </div>
        
                        
        
                            <div class="invoice-footer">
                                <span>Proceed to make payment</span>
                            </div>
        
                            <div class="invoice-body">
                                <div class="items">
                                    <div id="invoiceDetails">
                                        <!-- Invoice details will be dynamically inserted here -->
                                        <p>Account name: <b>{{ invoice.account_name }}</b></p>
                                        <p>Account number: <b>{{ invoice.account_number}}</b></p>
                                        <p>Amount to be Paid: <b>Rs {{ invoice.amount_to_be_paid }}</b></p>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="invoice-footer">
                                <span>Please upload proof of payment & click on the button below after making payment</span>
                            </div>
                            <div class="invoice-body">
                                <div class="mb-3">
                                    <form method="POST" action="{% url 'core:payment-confirmation' invoice_id=invoice.id %}" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <label for="id_proof_of_invoice" class="form-label">Upload Proof of Payment</label>
                                        {{ payment_confirmation_form.proof_of_invoice }}
                                        
                                        <button class="def-btn paymentMadeBtn" type="submit" id="paymentMadeBtn" disabled>Payment made</button>
                                    </form>
                                </div>
                            </div>
                            
                        </div>
                    </div>

                    

                    <div class="modal-footer">
                        
                    </div>
                </div>
            </div>
        </div>
        
        {% comment %} <!--------------------------------- INVOICE MODAL END ---------------------------------> {% endcomment %}

        
        {% comment %} <!--------------------------------- QUOTATION MODAL START ---------------------------------> {% endcomment %}
        <div class="modal fade" id="quotationModal{{ quotation.id }}" tabindex="-1" aria-labelledby="quotationModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="account-title mb-0" id="invoiceModalLabel">Approve Quotation</h2>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="invoice-wrap">
                            <div class="invoice-top d-flex justify-content-between align-items-center">
                                <div class="left">
                                    <div class="logo"><img src="{% static 'assets/images/logos/AY11.png' %}" alt="LOGO"></div>
                                    <br>
                                    <p>Would you like to use part of the money in your wallet?</p>
                                    <p><b>Your Wallet Balance: Rs {{ user_wallet.balance }}</b></p>
                                </div>
                            </div>
                            <div class="">
                                <div class="items" id="quotation-details">
                                    {% if quotation.id %}
                                        <p>Quotation ID: {{ quotation.id }}</p>
                                        <form id="walletUsageForm" data-quotation-id="${data.quotation_id}" action="/approve-quotation/${quotationId}/" method="POST">
                                            {% csrf_token %}
                                            <!-- Add your form fields here -->
                                            <div>
                                                <label for="id_amount_used">Amount to use from wallet:</label>
                                                <input type="text" name="amount_used" id="id_amount_used">
                                            </div>
                                            </br>
                                            <button class="def-btn" type="submit">Submit</button>
                                        </form>
                                        
                                    {% else %}
                                        <p>No Quotation selected</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        
        {% comment %} <!--------------------------------- QUOTATION MODAL END ---------------------------------> {% endcomment %}
        
    {% comment %} <!--------------------------------- ACCOUNT END ---------------------------------> {% endcomment %}


{% endblock content %}