{% extends 'partials/base.html' %}
{% load static %}
{% block content %}

<main>
    <!--=============== BANNER SECTION ENDS HERE ===============-->
    <section class="banner-section rev-15-banner rev-16-banner">
        <div class="container">
            <div class="row">
                <!--===== CATEGORY AREA START =====-->
                <div class="col-xl-3 col-lg-4 d-lg-block d-none">
                    <div class="all-department">
                        <div class="all-department-header">
                            <span>All Categories</span>
                            <button class="category-list-close"><i class="fa-light fa-bars"></i></button>
                        </div>

                        <div class="banner">
                            <div class="category-list rev-6-category-list" style="width: 100%;">
                                <ul>
                                    {% for c in categories %}
                                    <li class="category-item">
                                        <a href="{% url 'core:category-product-list' c.cid %}">
                                            <span>{{ c.title }}</span>
                                        </a>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--===== CATEGORY AREA END =====-->

                <!--===== SLIDER AREA START =====-->
                <div class="col-xl-9 col-lg-8">
                    <div class="rev-15-banner-slider owl-carousel">
                        <div class="banner-single-slide">
                            <div class="single-slide-txt">
                                <h1>20% Flat Discount on bedroom furniture</h1>
                                <a href="#" class="rev-15-def-btn">Shop Now</a>
                            </div>
                        </div>

                        <div class="banner-single-slide banner-single-slide-2">
                            <div class="single-slide-txt">
                                <h1>Decor The House with Stylish Components</h1>
                                <a href="#" class="rev-15-def-btn">Visit Store</a>
                            </div>
                        </div>

                        <div class="banner-single-slide banner-single-slide-3">
                            <div class="single-slide-txt">
                                <h1>Makeover Your Room this christmas</h1>
                                <a href="#" class="rev-15-def-btn">Visit Store</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--===== SLIDER AREA END =====-->
            </div>
        </div>
    </section>
    <!--=============== BANNER SECTION ENDS HERE ===============-->


    <!--=============== CATEGORIES SECTION STARTS HERE ===============-->
    <section class="rev-15-category-section rev-16-category-section pb-0">
        <div class="container">
            <div class="rev-15-section-heading">
                <h4 class="rev-15-section-title">Categories</h4>
            </div>

            <div class="rev-16-category-row owl-carousel">
                {% for c in categories %}
                <a href="{% url 'core:category-product-list' c.cid %}" class="rev-15-single-category">
                    <img src="{{ c.image.url }}" alt="Category Icon" class="rev-15-single-category-img">
                    <p class="rev-15-single-category-title">{{ c.title }}</p>
                </a>
                {% endfor %}
            </div>
        </div>
    </section>
    <!--=============== CATEGORIES SECTION ENDS HERE ===============-->


    <!--=============== FLASH SALE SECTION STARTS HERE ===============-->
    <section class="rev-15-flash-sale rev-16-flash-sale">
        <div class="container">
            <div class="rev-15-section-heading">
                <h4 class="rev-15-section-title">Flash Sale</h4>
                <div class="flash-deal p-0">
                    <div class="countdown-wrap d-flex">
                        <h3>Ending Soon...</h3>
                        <div id="flashDealCountdown" class="countdown"></div>
                    </div>
                </div>
            </div>

            <div class="flash-sale-products">
                <div class="rev-15-flash-sale-slider owl-carousel">
                    {% for p in products %}
                    <div class="single-product-card rev-9-single-product rev-16-single-product">
                        <div class="rev-9-single-product__img part-img">
                            <img src="{{ p.image.url }}" alt="Product Image">
                            <div class="rev-9-single-product__actions">
                                <button class="product-view-btn quick-view"><i class="fa-solid fa-eye"></i></button>
                                <span class="add-cart">
                                    <input type="hidden" value="1" name="" id="product-quantity" class="w-25 mb-20 product-quantity-{{p.id}}">
                                    <input type="hidden" class="product-pid-{{p.id}}" value="{{p.pid}}">
                                    <input type="hidden" class="product-image-{{p.id}}" value="{{p.image.url}}">
                                    <input type="hidden" class="product-id-{{p.id}}" value="{{ p.id }}">
                                    <input type="hidden" class="product-title-{{p.id}}" value="{{ p.title }}">
                                    <button type='submit' class="add-to-cart-btn" class="ec-btn-group add-to-cart-btn" data-index="{{ p.id }}"><i class="fa-solid fa-cart-shopping"></i></button>
                                </span>
                                <button class="add-to-wishlist" data-product-item="{{p.id}}" title="Wishlist"><i class="fa-regular fa-heart"></i></button> 
                            </div>
                        </div>

                        <div class="rev-9-single-product__txt">
                            <h4 class="rev-9-single-product__title"><a href="{% url 'core:product-detail' p.pid %}">{{ p.title }}</a></h4>
                            <div class="rev-9-single-product__rating">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                            </div>
                            <p class="rev-9-single-product__price">
                                <span class="current-price"> Rs <span class="current-product-price-{{ p.id }}" id="current-product-price-{{ p.id }}"> {{ p.price }}</span></span>
                                <span class="prev-price text-decoration-line-through">Rs {{ p.old_price}}</span>
                            </p>
                        </div>
                    </div>
                    {% endfor %}
                    
                </div>
            </div>
        </div>
    </section>
    <!--=============== FLASH SALE SECTION ENDS HERE ===============-->


    <!--=============== HOT DEAL AND NEW PRODUCT SECTION STARTS HERE ===============-->
    <section class="rev-16-hot-deal">
        <div class="container">
            <div class="row justify-content-center gy-4">
                <div class="col-lg-4 col-8 col-xs-12">
                    <div class="hot-deal">
                        <div class="rev-15-section-heading hot-deal-header">
                            <h2 class="rev-15-section-title">Hot Deal</h2>
                            <div class="hot-deal-slider-nav"></div>
                        </div>
                    </div>

                    <div class="rev-16-hot-deal-slider owl-carousel owl-theme">
                        <div class="hot-deal-single-slide">
                            <div class="hot-deal-single-slide__img">
                                <img src="{% static 'assets/images/edited 15 1.jpg ' %}" alt="Product Image">
                            </div>

                            <div class="hot-deal-single-slide__txt">
                                <div class="hot-deal-timer">
                                    <ul class="flip-clock-container box col-7">
                                        <li class="flip-item-seconds">60</li>
                                        <li class="flip-item-minutes">00</li>
                                        <li class="flip-item-hours">10</li>
                                    </ul>
                                </div>

                                <h4><a href="">popular cosmic door</a></h4>

                                <div class="price">
                                    <span class="current-price"> Rs <span class="current-product-price-{{ p.id }}" id="current-product-price-{{ p.id }}"> {{ p.price }}</span></span>
                                    <span class="prev-price text-decoration-line-through">Rs {{ p.old_price}}</span>
                                </div>

                                <div class="rating">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                </div>
                            </div>
                        </div>

                        <div class="hot-deal-single-slide">
                            <div class="hot-deal-single-slide__img">
                                <img src="{% static 'assets/images/edited 9.jpg' %}" alt="Product Image">
                            </div>

                            <div class="hot-deal-single-slide__txt">
                                <div class="hot-deal-timer">
                                    <ul class="flip-clock-container box col-7">
                                        <li class="flip-item-seconds">60</li>
                                        <li class="flip-item-minutes">00</li>
                                        <li class="flip-item-hours">10</li>
                                    </ul>
                                </div>

                                <h4><a href="">popular cosmic door</a></h4>

                                <div class="price">
                                    <span class="current-price"> Rs <span class="current-product-price-{{ p.id }}" id="current-product-price-{{ p.id }}"> {{ p.price }}</span></span>
                                    <span class="prev-price text-decoration-line-through">Rs {{ p.old_price}}</span>
                                </div>

                                <div class="rating">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-regular fa-star"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-8">
                    <div class="rev-15-section-heading">
                        <h4 class="rev-15-section-title">Latest Products</h4>
                    </div>

                    <div class="latest-products-area">
                        <div class="row g-3">
                            {% for p in products %}
                            <div class="col-xxl-3 col-md-4 col-6 col-xs-12">
                                <div class="single-product-card rev-9-single-product rev-16-single-product">
                                    <div class="rev-9-single-product__img part-img">
                                        <img src="{{ p.image.url }}" alt="Product Image">
                                        <div class="rev-9-single-product__actions">
                                            <button class="product-view-btn quick-view"><i class="fa-solid fa-eye"></i></button>
                                            <span class="add-cart">
                                                <input type="hidden" value="1" name="" id="product-quantity" class="w-25 mb-20 product-quantity-{{p.id}}">
                                                <input type="hidden" class="product-pid-{{p.id}}" value="{{p.pid}}">
                                                <input type="hidden" class="product-image-{{p.id}}" value="{{p.image.url}}">
                                                <input type="hidden" class="product-id-{{p.id}}" value="{{ p.id }}">
                                                <input type="hidden" class="product-title-{{p.id}}" value="{{ p.title }}">
                                                <button type='submit' class="add-to-cart-btn" class="ec-btn-group add-to-cart-btn" data-index="{{ p.id }}"><i class="fa-solid fa-cart-shopping"></i></button>
                                            </span>
                                            <button class="add-to-wishlist" data-product-item="{{p.id}}" title="Wishlist"><i class="fa-regular fa-heart"></i></button>
                                        </div>
                                    </div>

                                    <div class="rev-9-single-product__txt">
                                        <h4 class="rev-9-single-product__title"><a href="{% url 'core:product-detail' p.pid %}">{{ p.title }}</a></h4>
                                        <div class="rev-9-single-product__rating">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                        </div>
                                        <p class="rev-9-single-product__price">
                                            <span class="current-price"> Rs <span class="current-product-price-{{ p.id }}" id="current-product-price-{{ p.id }}"> {{ p.price }}</span></span>
                                            <span class="prev-price text-decoration-line-through">Rs {{ p.old_price}}</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--=============== HOT DEAL AND NEW PRODUCT SECTION ENDS HERE ===============-->


    <!--=============== FURNITURES SECTION STARTS HERE ===============-->
    <section class="rev-15-flash-sale rev-16-flash-sale rev-16-furnitures">
        <div class="container">
            <div class="rev-15-section-heading">
                <h4 class="rev-15-section-title">Furniture</h4>
            </div>

            <div class="flash-sale-products">
                <div class="rev-15-flash-sale-slider owl-carousel">
                    {% for p in products %}
                    <div class="single-product-card rev-9-single-product rev-16-single-product">
                        <div class="rev-9-single-product__img part-img">
                            <img src="{{ p.image.url }}" alt="Product Image">
                            <div class="rev-9-single-product__actions">
                                <button class="product-view-btn quick-view"><i class="fa-solid fa-eye"></i></button>
                                <span class="add-cart">
                                    <input type="hidden" value="1" name="" id="product-quantity" class="w-25 mb-20 product-quantity-{{p.id}}">
                                    <input type="hidden" class="product-pid-{{p.id}}" value="{{p.pid}}">
                                    <input type="hidden" class="product-image-{{p.id}}" value="{{p.image.url}}">
                                    <input type="hidden" class="product-id-{{p.id}}" value="{{ p.id }}">
                                    <input type="hidden" class="product-title-{{p.id}}" value="{{ p.title }}">
                                    <button type='submit' class="add-to-cart-btn" class="ec-btn-group add-to-cart-btn" data-index="{{ p.id }}"><i class="fa-solid fa-cart-shopping"></i></button>
                                </span>
                                <button class="add-to-wishlist" data-product-item="{{p.id}}" title="Wishlist"><i class="fa-regular fa-heart"></i></button> 
                            </div>
                        </div>

                        <div class="rev-9-single-product__txt">
                            <h4 class="rev-9-single-product__title"><a href="{% url 'core:product-detail' p.pid %}">{{ p.title }}</a></h4>
                            <div class="rev-9-single-product__rating">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                            </div>
                            <p class="rev-9-single-product__price">
                                <span class="current-price"> Rs <span class="current-product-price-{{ p.id }}" id="current-product-price-{{ p.id }}"> {{ p.price }}</span></span>
                                <span class="prev-price text-decoration-line-through">Rs {{ p.old_price}}</span>
                            </p>
                        </div>
                    </div>
                    {% endfor %}
                    
                </div>
            </div>
        </div>
    </section>
    <!--=============== FURNITURES SECTION ENDS HERE ===============-->


    <!--=============== ALL PRODUCTS SECTION STARTS HERE ===============-->
    <section class="rev-15-products rev-15-flash-sale rev-16-products">
        <div class="container">
            <div class="rev-15-section-heading">
                <h4 class="rev-15-section-title">Products</h4>
            </div>

            <div class="products-container">
                {% for p in products %}
                <div class="single-product-card rev-9-single-product rev-16-single-product">
                    <div class="rev-9-single-product__img part-img">
                        <img src="{{ p.image.url }}" alt="Product Image">
                        <div class="rev-9-single-product__actions">
                            <button class="product-view-btn quick-view"><i class="fa-solid fa-eye"></i></button>
                            <span class="add-cart">
                                <input type="hidden" value="1" name="" id="product-quantity" class="w-25 mb-20 product-quantity-{{p.id}}">
                                <input type="hidden" class="product-pid-{{p.id}}" value="{{p.pid}}">
                                <input type="hidden" class="product-image-{{p.id}}" value="{{p.image.url}}">
                                <input type="hidden" class="product-id-{{p.id}}" value="{{ p.id }}">
                                <input type="hidden" class="product-title-{{p.id}}" value="{{ p.title }}">
                                <button type='submit' class="add-to-cart-btn" class="ec-btn-group add-to-cart-btn" data-index="{{ p.id }}"><i class="fa-solid fa-cart-shopping"></i></button>
                            </span>
                            <button class="add-to-wishlist" data-product-item="{{p.id}}" title="Wishlist"><i class="fa-regular fa-heart"></i></button> 
                        </div>
                    </div>

                    <div class="rev-9-single-product__txt">
                        <h4 class="rev-9-single-product__title"><a href="{% url 'core:product-detail' p.pid %}">{{ p.title }}</a></h4>
                        <div class="rev-9-single-product__rating">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </div>
                        <p class="rev-9-single-product__price">
                            <span class="current-price"> Rs <span class="current-product-price-{{ p.id }}" id="current-product-price-{{ p.id }}"> {{ p.price }}</span></span>
                            <span class="prev-price text-decoration-line-through">Rs {{ p.old_price}}</span>
                        </p>
                    </div>
                </div>
                {% endfor %}
                
            </div>

            <a href="{% url 'core:product-list' %}" class="rev-15-def-btn">Show More</a>
        </div>
    </section>
    <!--=============== ALL PRODUCTS SECTION ENDS HERE ===============-->


</main>


{% endblock content %}
   