{% extends 'partials/base.html' %}
{% load static %}
{% block content %} 

{% comment %} <!--------------------------------- BANNER SECTION START ---------------------------------> {% endcomment %}
    <div class="banner banner-inner">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-6 col-md-9 col-8">
                    <div class="breadcrumb-txt">
                        <h1>Request Completed</h1>
                        <ul>
                            <li><a href="{% url 'core:index'%}"><i class="fa-regular fa-house"></i></a></li>
                            <li>/</li>
                            <li>From Cart</li>
                        </ul>
                    </div>
                </div>
                {% comment %} <div class="col-lg-6 col-md-3 col-4">
                    <div class="part-img">
                        <img src="{% static 'assets/images/breadcrumb-img.png' %}" alt="Image">
                    </div>
                </div> {% endcomment %}
            </div>
        </div>
    </div>
    {% comment %} <!--------------------------------- BANNER SECTION END ---------------------------------> {% endcomment %}



    {% comment %} <!--------------------------------- CART SECTION START ---------------------------------> {% endcomment %}
    <div class="tab-section py-120">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="tab-nav">
                        <button class="single-nav" data-tab="cartTab" disabled>
                            <span class="txt">Shopping Cart</span>
                            <span class="sl-no">01</span>
                        </button>
                        <button class="single-nav" data-tab="checkOutTab" >
                            <span class="txt">Place Request</span>
                            <span class="sl-no">02</span>
                        </button>
                        <button class="single-nav active" data-tab="orderCompletedTab" disabled>
                            <span class="txt">Request Completed</span>
                            <span class="sl-no">03</span>
                        </button>
                    </div>
                    <div class="tab-contents">
                        <div class="single-tab active" id="orderCompletedTab">
                            <div class="check-icon">
                                <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                                    <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
                                    <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
                                </svg>
                            </div>
                            <div class="order-complete-msg">
                                <h2>Your Cart Request Has Been Completed</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% comment %} <!--------------------------------- CART SECTION END ---------------------------------> {% endcomment %}


{% endblock content %}