{% extends 'partials/base.html' %}
{% load static %}
{% block content %}

<!-- Case Study Content Starts -->
    <section class="case-study-content padding-120">
        <div class="container">
            <div class="row">
                
                
                <div class="col-lg-8 offset-lg-2">
                    <div class="text-center">
                        </br></br>
                        <h2 class="margin-top-50">PRIVACY POLICY</h2>
                        </br></br>
                        <p class="margin-top-40"><h4>Read through our privacy policy </h4></p>
                    </div>
                </div>
                <div class="col-lg-12 margin-40">
                    </br></br> 
                
                        
                        Here's a breakdown of what information we collect and store about you and why and how we might process it. AY exclusive is a Mauritian company, all data processing takes part in the MRU "Site" is in most cases a reference to ayxclusive.com where used below.
                    </br></br>  
                    <p><b>Personal Information - User Accounts</b>
                        </br>
                        All user accounts, as a bare minimum, store your email address. You create a username unique to AY exclusive.
                        You are able to enter further information, such as your first and last name, although this is not publicly available on the site UNLESS you enable the option to display it publicly.
                        Most further information is not required UNLESS you enter into one of our revenue programs, at which point we collect your full name and postal address, together with any information required for delivery or sales purposes.
                        You are able to enter other publicly available information via your public profile page and can change or withdraw this information at any time.
                    </p>
                    <p><b>Comments</b></br>
                        When visitors leave comments on the site we collect the data shown in the comments form, and also the visitor’s IP address and browser user agent string to help spam detection.
                        </br>
                        An anonymized string created from your email address (also called a hash) may be provided to the Gravatar service to see if you are using it. The Gravatar service privacy policy is available here: https://automattic.com/privacy/. After approval of your comment, your profile picture is visible to the public in the context of your comment.
                    </p>
                    <p><b>Media</b></br>
                        If you upload images to the website, you should avoid uploading images with embedded location data (EXIF GPS) included. Visitors to the website can download and extract any location data from images on the website.
                    </p>
                    <p><b>Cookies</b></br>
                        If you leave a comment on our site you may opt-in to saving your name, email address and website in cookies. These are for your convenience so that you do not have to fill in your details again when you leave another comment. These cookies will last for one year.
                        </br>
                        If you visit our login page, we will set a temporary cookie to determine if your browser accepts cookies. This cookie contains no personal data and is discarded when you close your browser.
                        </br>
                        When you log in, we will also set up several cookies to save your login information and your screen display choices. Login cookies last for two days, and screen options cookies last for a year. If you select "Remember Me", your login will persist for two weeks. If you log out of your account, the login cookies will be removed.
                        </br>
                        If you edit or publish an article, an additional cookie will be saved in your browser. This cookie includes no personal data and simply indicates the post ID of the article you just edited. It expires after 1 day.
                    </p>
                    <p><b>Embedded Content From Other Websites</b></br>
                        We outsource advertising space on the site to third party companies. They may collect their own information about you based on your IP address and the equipment you are using to view the website, but we do not disclose any of your personal details with these advertisers.
                    </p>
                    <p><b>Links To External Sites</b></br>
                        This privacy policy is only applicable to AY exclusive and we are not responsible for the actions or policies of any other websites we link to
                    </p>
                    <p><b>Who We Share Your Data With</b></br>
                        We do not share your personal information with any third parties, with the exception of any direct and credible requests from enforcement agencies in order to comply with any law, regulation or legal process. In rare cases, we may also volunteer your information to law enforcement agencies if we receive a subpoena or feel you or actions you make on AY exclusive pose a risk to us or to others.
                    </p>
                    <p><b>How Long We Retain Your Data</b></br>
                        If you leave a comment, the comment and its metadata are retained indefinitely. This is so we can recognize and approve any follow-up comments automatically instead of holding them in a moderation queue.
                        </br>
                        For users that register on our website, we also store the personal information they provide in their user profile. All users can see, edit, or delete their personal information at any time (except they cannot change their username). Website administrators can also see and edit that information.
                        Please be advised that user accounts will be automatically deleted after a period of 3 months if the user fails to confirm their email address. It is important to note that upon deletion, all account information, including any funds stored in the wallet, will be permanently lost.
                    </p>
                    <p><b>Additional Information For Mauritius Residence</b><br>

                        Categories of Personal Information. This Privacy Policy discloses the categories of personal information that we collect, use, and disclose in order to operate our business over the past 12 months.
                        Collect. This Privacy Policy discloses the categories of personal information that we collect, which include your account and profile information, your content, your communications with us, information about your activity on AY exclusive, and how you engage with AY exclusive.
                    

                        Use. This Privacy Policy discloses that the categories of personal information we collect are used to provide our services, for personalization, to comply with law, and to prevent misuse of AY exclusive.
                        Disclose. The section above entitled Information Sharing discloses how we share your information.

                        We do not share or sell your personal information to third parties. As described in our Cookie Policy, we may work with third parties such as advertisers to serve ads on AY exclusive. These third parties may use cookies, JavaScript, web beacons (including clear GIFs), Flash LSOs and other tracking technologies to measure the effectiveness of their ads and to personalize advertising content to you. Options to opt out are available above in the Cookie Policy.

                        Requests for Deletion, Copy and Right to Know Your Information. Mauritian consumers have the right to make the following requests, which we also strive to honor from non-Mauritian residents:

                        Deletion. You have the right to request deletion of personal information that we have collected about you.
                        Copy and Right to Know. You have the right to request a copy of the specific pieces of personal information that we have collected about you over the past 12 months, however the only information

                        You can also submit a deletion, copy and right to know request by emailing us at AY.exclusive@outlook.com. You will need access to the email account associated with your AY exclusive account in order to verify your identity and complete this process.

                        Non-Discrimination. AY exclusive will not discriminate against you, including by denying or providing a different level or quality of goods or services should you choose to exercise your options.

                        Users who are Mauritian residents to request and obtain from us once a year, free of charge, a list of the third parties to whom we have disclosed their personal information (if any) for their direct marketing purposes in the prior calendar year, as well as the types of personal information disclosed to those parties. Spoiler alert: We aren't sharing your information with any third parties.
                    </p>
                    <p><b>Changes To This Policy</b></br>
                        We may periodically revise or update this privacy policy at any time without prior notice. Please return to this page regularly to keep up to date, particularly before providing any further personal information to us.
                    </p>
                    <p><b>Contacting Us</b><br>
                        If you have any questions about this privacy policy, the practices of this site, or your dealings with this Website, please contact us at AY.exclusive@outlook.com
                

                    </p>
                
                </div>
            </div>
        </div>
    </section>


{% endblock content %}