{% extends 'partials/base.html' %}
{% load static %}
{% block content %}


 {% comment %} <!--------------------------------- BANNER SECTION START ---------------------------------> {% endcomment %}
    <div class="banner banner-inner">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-6 col-md-9 col-8">
                    <div class="breadcrumb-txt">
                        <h1>Shop Details</h1>
                        <ul>
                            <li><a href="{% url "core:index" %}"><i class="fa-regular fa-house"></i></a></li>
                            <li>/</li>
                            <li>Shop Details</li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    {% comment %} <!--------------------------------- BANNER SECTION END ---------------------------------> {% endcomment %}

    {% comment %} <!--------------------------------- SHOP SECTION START ---------------------------------> {% endcomment %}
    <div class="shop-details py-120">
        <div class="container">
            <div class="product-view-area">
                <div class="row">
                    <div class="col-xl-6 col-lg-5 col-md-6">
                        <div class="part-img mr-30">
                            <div class="img-box" id="bigPreview">
                                <img src="{{ p.image.url }}" alt="Image">
                                
                            </div>
                            <div class="btn-box">
                                {% for product_image in product_images %}
                                <button class="small-thumb active">
                                    <img src="{{ product_image.images.url }}" alt="image">
                                </button>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-7 col-md-6">
                        <div class="part-txt">
                            <h2 class="main-product-title">{{ p.title }}</h2>
                            <div class="review">
                                <span class="star">
                                    <i class="fa-solid fa-star-sharp rated"></i>
                                    <i class="fa-solid fa-star-sharp rated"></i>
                                    <i class="fa-solid fa-star-sharp rated"></i>
                                    <i class="fa-solid fa-star-sharp rated"></i>
                                    <i class="fa-solid fa-star-sharp"></i>
                                </span>
                            </div>
                            <p class="rev-9-single-product__price">
                                <span class="current-price"> Rs <span class="current-product-price-{{ p.id }}" id="current-product-price-{{ p.id }}"> {{ p.price }}</span></span>
                                <span class="prev-price text-decoration-line-through">Rs {{ p.old_price}}</span>
                            </p>
                            <ul class="short-details">
                                <li>Availability: <span>In stock, Custom-made</span></li>
                                <li>Product Code: <span>{{ p.sku }}</span></li>
                            </ul>
                            <p class="dscr">{{ p.description|truncatechars:150|safe }}</p>
                            <form>
                                <div class="row g-xl-4 g-3">
                                    
                                    <div class="col-lg-4 col-md-12 col-sm-4">
                                        <div class="quantity-wrap">
                                            <label>QTY</label>
                                            <div class="product-count">
                                                <div class="quantity rapper-quantity">
                                                    <input type="number" min="1" max="100" step="1" value="1" readonly>
                                                    <div class="quantity-nav">
                                                        <div class="quantity-button quantity-down">
                                                            <i class="fa-solid fa-minus"></i>
                                                        </div>
                                                        <div class="quantity-button quantity-up">
                                                            <i class="fa-solid fa-plus"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="btn-box">
                                <input type="hidden" value="1" name="" id="product-quantity" class="w-25 mb-20 product-quantity-{{p.id}}">
                                <input type="hidden" class="product-pid-{{p.id}}" value="{{p.pid}}">
                                <input type="hidden" class="product-image-{{p.id}}" value="{{p.image.url}}">
                                <input type="hidden" class="product-id-{{p.id}}" value="{{ p.id }}">
                                <input type="hidden" class="product-title-{{p.id}}" value="{{ p.title }}">
                                <button id="addToCart" class="add-to-cart-btn" data-index="{{ p.id }}"><span><i class="fa-light fa-cart-shopping"></i></span> add to cart</button>
                                <button class="add-to-wishlist" data-product-item="{{p.id}}" title="Wishlist"><span><i class="fa-light fa-heart"></i></span> add to wishlist</button>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="details-area">
                <nav>
                    <div class="nav" id="nav-tab" role="tablist">
                        <button class="nav-link active" id="nav-dscr-tab" data-bs-toggle="tab" data-bs-target="#nav-dscr" type="button" role="tab" aria-controls="nav-dscr" aria-selected="true">Description</button>
                        <button class="nav-link" id="nav-info-tab" data-bs-toggle="tab" data-bs-target="#nav-info" type="button" role="tab" aria-controls="nav-info" aria-selected="false">Information</button>
                        {% comment %} <button class="nav-link" id="nav-review-tab" data-bs-toggle="tab" data-bs-target="#nav-review" type="button" role="tab" aria-controls="nav-review" aria-selected="false">Reviews</button> {% endcomment %}
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-dscr" role="tabpanel" aria-labelledby="nav-dscr-tab" tabindex="0">
                        <div class="product-dscr">
                            <p>{{ p.description|truncatechars:150|safe }}</p>
                            
                            
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-info" role="tabpanel" aria-labelledby="nav-info-tab" tabindex="0">
                        <div class="product-information">
                            <ul>
                                <li><span>Dimensions: {{ p.dimensions }}</span> </li></br>
                                <li><span>Materials: {{ p.materials }}</span> </li></br>
                                <li><span>Structure: {{ p.structure }}</span> </li> </br>
                                <li><span>Delivery Time Frame: {{ p.delivery_time_frame }}</span> </li></br>
                            </ul>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    {% comment %} <!--------------------------------- SHOP SECTION END ---------------------------------> {% endcomment %}



    {% comment %} <!--------------------------------- RELATED PRODUCT SECTION START ---------------------------------> {% endcomment %}
    <div class="rlated-product pb-120">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="heading text-center">
                        <h2>Related Products</h2>
                    </div>
                </div>
                {% if products %}
                <div class="col-12">
                    <div class="related-product-slider owl-carousel">
                        {% for p in products %}
                        <div class="single-product-card">
                            <div class="part-img">
                                <a href=""><img src="{{ p.image.url }}" alt="Product"></a>
                                <div class="cart-option cart-option-bottom">
                                    <ul>
                                        <li>
                                            <a role="button" class="add-to-cart add-to-cart-btn" class="ec-btn-group add-to-cart-btn" data-index="{{ p.id }}">
                                                <input type="hidden" value="1" name="" id="product-quantity" class="w-25 mb-20 product-quantity-{{p.id}}">
                                                <input type="hidden" class="product-pid-{{p.id}}" value="{{p.pid}}">
                                                <input type="hidden" class="product-image-{{p.id}}" value="{{p.image.url}}">
                                                <input type="hidden" class="product-id-{{p.id}}" value="{{ p.id }}">
                                                <input type="hidden" class="product-title-{{p.id}}" value="{{ p.title }}">
                                                <i class="fa-light fa-cart-shopping"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a role="button" class="add-to-wishlist" data-product-item="{{p.id}}" title="Wishlist">
                                                <i class="fa-light fa-heart"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a role="button" class="quick-view">
                                                <i class="fa-light fa-image"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'core:product-detail' p.pid %}" class="view-product">
                                                <i class="fa-light fa-eye"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="part-txt">
                                <h4 class="product-name"><a href="{% url 'core:product-detail' p.pid %}">{{ p.title }}</a></h4>
                                <p class="dscr">{{ p.description }}</p>
                                <p class="price"><span>Rs {{ p.old_price }}</span> <p class="current-product-price-{{ p.id }}" id="current-product-price-{{ p.id }}">Rs {{ p.price }}</p></p>
                                <div class="star">
                                    <i class="fa-solid fa-star-sharp rated"></i>
                                    <i class="fa-solid fa-star-sharp rated"></i>
                                    <i class="fa-solid fa-star-sharp rated"></i>
                                    <i class="fa-solid fa-star-sharp rated"></i>
                                    <i class="fa-solid fa-star-sharp rated"></i>
                                </div>
                                <span class="add-cart">
                                    <input type="hidden" value="1" name="" id="product-quantity" class="w-25 mb-20 product-quantity-{{p.id}}">
                                    <input type="hidden" class="product-pid-{{p.id}}" value="{{p.pid}}">
                                    <input type="hidden" class="product-image-{{p.id}}" value="{{p.image.url}}">
                                    <input type="hidden" class="product-id-{{p.id}}" value="{{ p.id }}">
                                    <input type="hidden" class="product-title-{{p.id}}" value="{{ p.title }}">
                                    <button type='submit' class="add-to-cart-btn" class="ec-btn-group add-to-cart-btn" data-index="{{ p.id }}"><i class="fa-solid fa-cart-shopping"></i></button>
                                </span>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% comment %} <!--------------------------------- RELATED PRODUCT SECTION END ---------------------------------> {% endcomment %}



{% endblock content %}