{% extends 'partials/base.html' %}
{% load static %}
{% block content %}


    {% comment %} <!--------------------------------- BANNER SECTION START ---------------------------------> {% endcomment %}
    <div class="banner banner-inner">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-6 col-md-9 col-8">
                    <div class="breadcrumb-txt">
                        <h1>Projects</h1>
                        <ul>
                            <li><a href="{% url "core:index" %}"><i class="fa-regular fa-house"></i></a></li>
                            <li>/</li>
                            <li>Projects</li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    {% comment %} <!--------------------------------- BANNER SECTION END ---------------------------------> {% endcomment %}



    {% comment %} <!--------------------------------- SHOP SECTION START ---------------------------------> {% endcomment %}
    <div class="shop-wrap py-120">
        <div class="container">
            <div class="row g-4">
                
                <div class="col-xl-12 col-lg-12">
                    <div class="shop-top-bar">
                        <div class="row align-items-center">
                            <div class="col-md-3 d-md-block d-none">
                                <h3 id="shopViewType">Project Grid</h3>
                            </div>
                            
                        </div>
                    </div>
                    <div class="row g-lg-4 g-3">
                        {% for image in images %}
                        <div class="product-col col-xxl-3 col-xl-4 col-lg-6 col-md-4 col-6">
                            <div class="single-product-card">
                                <div class="part-img">
                                    <img src="{{ image.image.url }}" alt="Product">
                                </div>
                                <div class="part-txt">
                                    <h4 class="product-name">{{ image.description }}</h4>
                                    
                                    {% comment %} <!-- Display existing comments for the current image -->
                                    <ul>
                                        {% for comment in image_comments.image.id %}
                                            <li>{{ comment.text }} - {{ comment.user.username }}</li>
                                        {% endfor %}
                                    </ul>
                    
                                    <!-- Form to add a new comment -->
                                    <form method="post" action="{% url 'core:projects' %}">
                                        {% csrf_token %}
                                        {{ comment_form.as_p }}
                                        <input type="hidden" name="image_id" value="{{ image.id }}">
                                        <button type="submit">Add Comment</button>
                                    </form> {% endcomment %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    {% comment %} <!--------------------------------- SHOP SECTION END ---------------------------------> {% endcomment %}



    {% endblock content %}