{% extends 'partials/base.html' %}
{% load static %}
{% block content %}

<!-- Case Study Content Starts -->
    <section class="case-study-content padding-120">
        <div class="container">
            <div class="row">
                
                
                <div class="col-lg-8 offset-lg-2">
                    <div class="text-center">
                        </br></br>
                        <h2 class="margin-top-50">CANCELLATION/REFUND POLICY</h2>
                        </br></br>
                        <p class="margin-top-40"><h4>Read through our cancellation/refund policy </h4></p>
                    </div>
                </div>
                <div class="col-lg-12 margin-40">
                    </br></br> 
                    <p class="margin-top-20">* General policy on all refunds for AY exclusive products are as stated below:

                        </br></br>  

                        
                        -All requests in form of new design, refurbishing, production or site visits must be requested electronically from it's designated page in this case projects for proper documentation and follow up. Any message sent directly shall be reviewed manually and referred to projects for proper follow up
                        -Requests can be sent during any day of the year, however requests shall be looked into during working hours of the week by the design and production team
                        -Designs shall be made based on request from the request form. There shall be unlimited reviews, however additional cost will be requested if there happen to be further change in design after design is done and delivered.
                        -Site visits are done exclusively to take measurements and pictures for accurate relation to design and live site. Consultation however is another form of service contact us on project page for more information about consultation.
                        </br></br> 
                        | All forms of threats should be secured before schedule time. By threats we mean dogs, cats, or other forms which will disallow our agent from having his full concentration while visiting. We are conducting a site visit, not bravery test. 
                        | Site visit is complete upon sending the dimensions taken on site as a 2D drawing in PDF format or jpg. 
                        | Site visit is charged based on distance from Quatre borne. Rs 1,000.00 within 20km radius of Quatre borne. and Rs 2,000.00 for distance further than 20km radius of Quatre borne
                        </br></br> 
                        -Clients will be provided with quotation options as requested in the request form.
                        -A quotation sent based on requirement will be due in 30 days, after which a price review shall be done by the project team.
                        -Quotation agreed upon by client shall be converted into an invoice and shall serve as the binding agreement between client and us.
                        -Procedures and production of products varies according to request, therefore production time varies within 2-5 weeks. However date of delivery shall be agreed upon between client and us before downpayment.
                        -Our products comes with 36 months warranty, after which agreed upon, additional cost will be requested. please see our warranty policy
                        -Date of delivery counts down from date of payment
                        </br></br> 
                        We reserve the right to refuse a production before downpayment is made due to our schedule or design not meeting our standard. 
                        </br></br> 
                        Payment Policy
                        </br>
                        -40% upfront is required upon confirmation, full payment to be made 48hours before delivery.
                        -Payment to be made through Bank transfer or other means stated in the invoice. 
                        -Quotations are done free of charge and shall be sent within requested time.
                        -Design is charged based on the quantity and requirement of design. Once cost is calculated, an upfront payment will be requested before design commences.
                        -Site visit is charged Rs500 flat across the island. One of our agent will contact you via phone call or whatsapp to get information about Exact location.

                    </p>
                
                </div>
            </div>
        </div>
    </section>


{% endblock content %}