{% extends 'partials/base.html' %}
{% load static %}
{% block content %}

<!-- Case Study Content Starts -->
    <section class="case-study-content padding-120">
        <div class="container">
            <div class="row">
                
                
                <div class="col-lg-8 offset-lg-2">
                    <div class="text-center">
                        </br></br>
                        <h2 class="margin-top-50">RETURNS AND CANCELLATIONS</h2>
                        </br></br>
                        <p class="margin-top-40"><h4>Read through our return and cancellation policy </h4></p>
                    </div>
                </div>
                <div class="col-lg-12 margin-40">
                    </br></br> 
                    <p class="margin-top-20">* General policy on all returns and cancellations for AY exclusive products are as stated below:

                        </br></br>  

                        
                       

                        For a start, you need to know we take our customer satisfaction very seriously. We intend to make your time with us as pleasant as possible. We invest so much into delivering satisfaction in all services. 
                        With that noted, we intend to make your order as seamless and easeful as possible from placing your order to delivery and beyond. 
                        </br>
                        Please note that this returns and cancellations only apply to online orders only and does not include bespoke. If your order is in form of bespoke, our representative will let you be aware of the returns and cancellations attached to your order. 
                        </br>
                        Whether you want to cancel your order pre-delivery, for a reason want to return your delivered item or exchange it for another, or there is a sort of problem you are encountering with your order, here are lists of processes.
                        </br></br>
                        <h5>Cancellation pre-delivery</h5>
                        </br>
                        <p><b>Before 5 Hours</b>
                            If for a reason or some reasons you have decided to cancel your order before 5 hours from time of order placement, well you will be happy to hear you can cancel your order at ease and receive your full refund back into your bank account with no charges. All you have to do is send us a mail or contact us via our contact us link at contact us page or via the contact us section below. . 
                        </p>
                        <p><b>After 5 Hours</b>
                            If after 5 hours you recall a reason or some reasons to have your order cancelled, well here is a good news. You can have your order cancelled with ease. But at this time, your order has already gone through processing, and production steps is already being taken. You will be charged 15% for late cancellation. All you have to do is send us a mail or contact us via our contact us link at contact us page or via the contact us section below
                        </p>
                        <p>
                            We shall send an affirmation mail of cancellation of your pre-delivery to you as soon as we receive your mail or call about cancellation of order.  We shall proceed as you wish, either by cash refund or utilize the money in exchange for other items in the store. If you wish to purchase other of our items, we shall credit your cancellation money into your account wallet on AY exclusive website, which can be used to pay for any of our items on checkout. 
                            Please note once your wallet has been funded, it cannot be sent to your bank account again. 
                        </p>

                        <p><b>Late or missing refunds</b>
                            If you haven’t received a refund yet, first check your bank account again. Then contact your credit card company, it may take some time before your refund is officially posted. Next contact your bank. There is often some processing time before a refund is posted. If you’ve done all of this and you still have not received your refund yet, please contact us at via our contact links below stating your order details. 
                        </p>
                        <p><b>If method of refund is not stated</b>
                            Please note if you do not state method of refund, we shall consider it that you wish to purchase other items from our exclusive shop. I mean why wouldn't you since we have lots of exclusive items that would take your breath away. So we shall make refund into your wallet on your AY exclusive account. 
                        </p>

                        <p><h5>Returns after deliver</h5>
                            </br>
                            <b>Decided To Return Your Order After Delivery</b>
                            Within 24 hours from time of delivery, simply contact us via phone, mail or the contact us page from the website, stating your return and reason for returning your order. An agent will be assigned to retrieve it within 7 working days. 
                            Please make available the order for retrieval within 5 working days for collection, else it will be considered delivered. 
                        </p></br>
                        <b>Let us remind you</b>
                        All our furniture are with 3 years legal warranty (this excludes clearance items) and we guarantee you 15 years on all furniture (third party hardware not inclusive) So it is in the most unlikely event you encounter a problem with our furniture. So i assure you there is no need to worry. 
                        </br></br>
                        <h5>To Have Your Delivered Order Returned</h5>
                        </br></br>
                        <p><b>STEP ONE</b>
                            Make sure your order does not stay delivered for more than 24 hours before contacting us. Within this hours, all you have to do is reach us via one of our links below, or drop us a mail via AY.exclusive@outlook.com. Or simply just ring us via our contact line and your message shall be assed to the responsible department. To help you have a good return we will be happy to send you covers to ensure you return the item as it was delivered. 
                        </p>
                        <p><b>STEP TWO</b>
                            Please make available the item for retrieval within 7 working days. One of our agents will be appointed to picking up the item from place of delivery. If item exceeds period of retrieval which goes against agreed upon by both parties due to your unavailability, item shall be considered delivered. 
                        </p>
                        <p><b>STEP THREE</b>
                            Once your return is received and inspected, we will send you an email to notify you that we have received your returned item. We will also notify you of the approval or rejection of your refund. If you are approved, then your refund will be processed, and a credit will automatically be applied to your credit card or original method of payment.
                        </p>
                            Refunds made to a credit or debit card may not show in your account straightaway due to the clearing time required by banks to process the refund. Typically, this can take up to seven working days, but varies depending on the bank. Please contact your card issuer or bank directly with any queries.
                        </p></br></br>
                    <b>Please Note The Following </b>
                    </br>
                    1- You will be charged 15% processing fee plus 10% delivery fee. So your total refund will be 75% of the total sum you paid for the item originally. 
                    </br>
                    
                    2- Items must be in good condition as it was received by you upon delivery. We will not be able to refund you the 75% if there is any form of damage or misuse. 
                    </br>
                    3- Please make available the item for collection within 7 working days.
                    </br>
                    4- These conditions do not apply to bespoke items* ordered from us. If your order includes a bespoke item, this will be indicated to you at the time of purchase.
                    </br>
                    *Bespoke items are those that are custom made or personalized in any way. This means they are bespoke to the individual and therefore cannot be resold.
                    </br></br>
                    <h5>If you still have a problem,</h5>
                    </br></br>
                    Reporting A Damage Problem
                    Once your order has been unwrapped in your home and there are signs of transit damage, a member of our delivery team will liaise with you to sort out the problem whenever possible.

                </p>
                    -If the furniture is usable, despite the damage, we're happy for you to go ahead and use it.
                </p>
                <p>
                    -Our delivery team will then complete an incident report form to record the problem and ask you to sign it. They may also take photographs to accompany the paperwork. 
                </p>
                <p>
                    -The incident report form will be returned to the delivering store, logged against your order number, and assessed to determine next steps. 
                </p>
                <p>
                    -One of our technicians will contact you and arrange to visit and repair the problem to manufacturing standards, generally within seven days. If he or she cannot resolve the matter on the first visit and parts are required, we will try to source them as quickly as possible.  
                </p>
                <p>
                    -In the event that a repair cannot be made, we will replace the furniture, or give you a full refund. Goods that are deemed faulty must be in our possession before any money is refunded.
                </P>
                <p>
                    *Please note: refunds are limited to the original purchase price paid for the unsatisfactory merchandise.
                </p>
                </br>
                    <a href="https://ayxclusive.com/refund_policy/">https://ayxclusive.com/refund_policy/</a>

                    </p>
                
                </div>
            </div>
        </div>
    </section>


{% endblock content %}