{% extends 'partials/base.html' %}
{% load static %}
{% block content %}

<!-- Case Study Content Starts -->
    <section class="case-study-content padding-120">
        <div class="container">
            <div class="row">
                
                
                <div class="col-lg-8 offset-lg-2">
                    <div class="text-center">
                        </br></br>
                        <h2 class="margin-top-50">TERMS AND CONDITIONS</h2>
                        </br></br>
                        <p class="margin-top-40"><h4>Read through our terms and conditions </h4></p>
                    </div>
                </div>
                <div class="col-lg-12 margin-40">
                    </br></br> 
                
                        
                    <h5>TERMS AND CONDITIONS</h5>
                    </br></br> 
                    <p>1. Quotations does not include plumbing and electricals except quoted otherwise.</p>
                    
                    <p>2. The above proposal has been quoted according to your dimensions with the materials mentioned in the 
                        quote.</p>
                    <p>3. All doors and drawers have soft-closing hinges and rails. Exceptions are lack of availability of railing 
                        device, poor quality of available railing device, design does not support available railing device. If such case arise, client will be given next  best advice. 7. All our furniture are branded “AY exclusive”.</p>
                    </br></br>
                    <h6>PAYMENT TERMS</h6></br>
                    <p>1.  On confirmation:</br>
                        * 40% upfront of total sum of the furniture and related items upon confirmation.
                        * Full Payment on Appliances within furniture or related upon confirmation.
                    </p>
                    <p>2. Before Delivery: </br>
                        * Prior to full delivery, we require full payment transaction to be completed
                    </p>
                    <h6>DELIVERY TIME FRAME</h6></br>
                    <p>-Approx. 3 to 4 weeks after confirmation of order, expected delivery will be confirmed upon invoicing. 
                        Lead time might be amended on date of confirmation of final drawing, changes and delay in confirming 
                        details might affect expected delivery date.
                    </p>  
                    <p>-Date of delivery refers to actual delivery of furniture on site, any additional required finishes might 
                      overlap the said date.
                    </p>
                    <h6>GENERAL</h6></br>
                    <p>1. Stock to be confirmed on invoicing for all in-house stock items.</p>
                    <p>2. Payments/Deposit are not refundable. But in case of cancellation, Your wallet will be credited with  relating amount. </P>
                    <p>3. Delivery service must be planned at least 48 hours as from settlement. We reserve the right to find a 
                        schedule with regards to our existing planning and we will try our best to find your most convenient time 
                        upon settlement. Delivery and installation is free unless said otherwise in quote/invoice
                    </p>
                    <p>4. We receive payments via cash, bank transfer, direct deposits, cheque. Any other mode of payment is to be approved by management before proceeding.</br>  6. Furniture have 5 Years on body (excluding hardware and accessories). Warranty does not cover 
                     plumbing issues, electrical issues and other misuse. Please read more on our warranty on  <a href="https://ayxclusive.com/warranty_policy/">https://ayxclusive.com/warranty_policy/</a></p>
                   
                    <b>Payment Details</b>
                    <p>Cheques should be drawn to "Assemble Yourself Exclusive furnitures ltd"
                     Bank Details: MCB Acct: 000449502171 </p>

                    </br></br>
                   
                    <p>I ................................................................................................ have read and agreed on the terms and conditions  
                        mentioned in this document for quotation Reference: 
                        </br></br>
                   
                        Signature: .............................................................................................Date: ......... / ......... / ..................
                

                    </p>
                
                </div>
            </div>
        </div>
    </section>


{% endblock content %}