{% extends 'partials/base.html' %}
{% load static %}
{% block content %}

<!-- Case Study Content Starts -->
    <section class="case-study-content padding-120">
        <div class="container">
            <div class="row">
                
                
                <div class="col-lg-8 offset-lg-2">
                    <div class="text-center">
                        </br></br>
                        <h2 class="margin-top-50">WARRANTY POLICY</h2>
                        </br></br>
                        <p class="margin-top-40">Read through our warranty policy </p>
                    </div>
                </div>
                <div class="col-lg-12 margin-40">
                    
                    <p class="margin-top-20">* General warranty period on all AY exclusive products is 24 months which starts count on date of delivery. Custom made products are 5 years on body excluding third party hardware and appliances (hinges, handles, sinks, hood, hob, microwave, oven......etc) Warranty on third party appliances and hardware will be made noted upon purchase if any. 

                        </br></br>  

                        * Our warranty is based on product & owner and not on the product only. If the owner decides to sell our product for the good reason there is, product owner should contact and have the product registered as per new ownership. If unrecognized name claims product warranty, such claim is void and will be ignored. This however is related to AY exclusive products, not custom made furniture. 
                        
                        </br></br>
                        
                        * Products should be checked and confirmed within 48 hours of delivery. If excess, product is considered delivered. If any defect arises afterwards it will be considered as usage damage. If such owner contacts us to claim product warranty, it will be placed under repairs and not exchange.  This however is related to AY exclusive products, and not custom made furniture. 
                        
                        </br></br>
                        
                        *Our products are treated well and intense to resist water up to 85%. Though knowing, products must not be soaked inside water for more than 3 hours for expansion and contraction of matter affects it as well, which may cause some materials to bend or wrinkle. If evidence of soaked water in our product is observed on a product while owner claims warranty on such product, such claim will be considered void. 
                        
                        </br></br>
                        
                        * As you may have noticed, our products are not immortal or have self generating abilities. damage due to fall, hits, stains and in general external force on our product after delivery are considered usage damage. Warranty on such becomes void.
                        
                        </br></br>
                        
                        * We also have 5 years warranty on all our custom made products. In this case, the warranty period will be noted in the contract agreement wish will be signed before engagement into production. If warranty on a product is to be extend after-which has been offered, an additional cost will apply to such furniture. 
                        
                        </br></br>
                        
                        * Our warranty offers repairs when it comes to minor defect, part replacement when it comes to average defect and full replacement when it comes to major defects. But never refund. 
                        
                        </br></br>
                        
                        * Any condition resulting from incorrect or inadequate maintenance, cleaning or care, cleaning with acidic agents or commercial use. If such owner contacts to claim warranty, such claim will be considered as void. 
                        
                        </br></br>
                        
                        * The softening of filling materials under normal use. That is considered as normal. Even though our materials are of high quality and long last duration when it comes to quality. Hence they are not immortal. 
                        
                        </br></br>

                        * Our warranty covers the exclusive furniture made, and not third party hardware necessary for the functionality of your furniture. 
                        
                        </br></br>
                        
                        If you have any question concerning our warranty please drop us a message down below, and we will get back to you as soon as we can. We reply within 24 hours. We have you covered. 
                    </p>
                
                </div>
            </div>
        </div>
    </section>


{% endblock content %}