{% extends 'partials/base.html' %}
{% load static %}
{% block content %}

<main>



    {% comment %} <!--------------------------------- BANNER SECTION START ---------------------------------> {% endcomment %}
    <div class="banner banner-inner">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-6 col-md-9 col-8">
                    <div class="breadcrumb-txt">
                        <h1>Login Page</h1>
                        <ul>
                            <li><a href="{% url 'core:index' %}"><i class="fa-regular fa-house"></i></a></li>
                            <li>/</li>
                            <li>Login</li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    {% comment %} <!--------------------------------- BANNER SECTION END ---------------------------------> {% endcomment %}



    {% comment %} <!--------------------------------- REGISTER SECTION START ---------------------------------> {% endcomment %}
    <div class="register py-120">
        <div class="container">
            <div class="row justify-content-around">
                <div class="col-xl-5 col-md-6">
                    
                    <div class="author-area">
                        {% if form.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ form.errors }}</strong>
                        </div>
                        {% endif %}
                        <h2>Log in your Account</h2>
                        <form class="login-form" method="POST">
                            {% csrf_token %}
                            <input required type="email" required name="email" placeholder="Email Address">
                            <input type="password" required name="password" placeholder="Enter Password">
                            <button class="def-btn btn-border">Login</button>
                        </form>
                        <br>
                        <div>
                            <span style="margin-right:70px"> <a href="{% url 'userauths:sign-up' %}">Dont have an account?</a></span>

                            <span style="margin-left:70px"><a href="{% url 'password_reset' %}">Forgot Password? </a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% comment %} <!--------------------------------- REGISTER SECTION END ---------------------------------> {% endcomment %}






</main>


{% endblock content %}