<main class="main-content" id="cart-list">
   



    {% comment %} <!--------------------------------- CART SECTION START ---------------------------------> {% endcomment %}
    <div class="tab-section py-120">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="tab-nav">
                        <button class="single-nav active" data-tab="cartTab">
                            <span class="txt">Shopping Cart</span>
                            <span class="sl-no">01</span>
                        </button>
                        <button class="single-nav" data-tab="checkOutTab" disabled>
                            <span class="txt">Check Out</span>
                            <span class="sl-no">02</span>
                        </button>
                        <button class="single-nav" data-tab="orderCompletedTab" disabled>
                            <span class="txt">Order Completed</span>
                            <span class="sl-no">03</span>
                        </button>
                    </div>
                    <div class="tab-contents">
                        <div class="single-tab active" id="cartTab">
                            <div class="table-wrap revel-table">
                                <div class="table-responsive">
                                    <table class="table table-borderless">
                                        <thead>
                                            <tr>
                                                <th>Image</th>
                                                <th>Product Name</th>
                                                <th>Price</th>
                                                <th>Quantity</th>
                                                <th>Total</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for product_id, item in cart_data.items %}
                                            <tr>
                                                <td>
                                                    <div class="product-img">
                                                        <img src="{{ item.image }}" alt="Image">
                                                    </div>
                                                </td>
                                                <td><a href="{% url 'core:product-detail' item.pid %}" class="product-name">{{ item.title }}</a></td>
                                                <td><span class="price-txt">Rs <span class="main-price">{{ item.price }}</span></span></td>
                                                <td>
                                                    <div class="product-count cart-product-count">
                                                        <div class="quantity rapper-quantity product-qty-{{ product_id }}" value= {{ item.qty }}>
                                                            <input type="number" min="1" max="100" step="1" value="1" readonly>
                                                            <div class="quantity-nav">
                                                                <div class="quantity-button quantity-down">
                                                                    <i class="fa-solid fa-minus"></i>
                                                                </div>
                                                                <div class="quantity-button quantity-up">
                                                                    <i class="fa-solid fa-plus"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td><span class="price-txt">Rs <span class="total-price">{% widthratio item.price 1 item.qty %}</span></span></td>
                                                <td><button class="cart-delete delete-product" data-product="{{ product_id }}"><i class="fa-light fa-trash-can"></i></button></td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="btn-box">
                                <a href="{% url 'core:product-list' %}" class="def-btn">Continue Shopping</a>
                                <button class="def-btn" id="cartUpdate" disabled>Update Cart</button>
                            </div>
                            <div class="cart-total-panel">
                                <h3 class="title">Cart Total</h3>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h4 class="sub-title">Choose Shipping Mode:</h4>
                                            <div class="shipping-mode">
                                                <div class="form-check">
                                                    <input class="form-check-input shipping-check" type="radio" name="shippingMode" id="storePickup" checked>
                                                    <span class="sub-input"><i class="fa-regular fa-check"></i></span>
                                                    <label class="form-check-label" for="storePickup">
                                                        Need the products customized to your taste?
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input shipping-check" type="radio" name="shippingMode" id="homeDelivery">
                                                    <span class="sub-input"><i class="fa-regular fa-check"></i></span>
                                                    <label class="form-check-label" for="homeDelivery">
                                                        Delivery at home - <span>(We will send you a quotation soon)</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="calculate-area">
                                                <ul>
                                                    <li>Sub Total <span class="price-txt">$<span class="sub-total">{{ cart_total_amount|floatformat:2 }}</span></span></li>
                                                    {% comment %} <li>Shipping <span class="price-txt" id="shippingFee"><span class="text-success">Free</span></span></li> {% endcomment %}
                                                    <li class="total-price-wrap">Total <span class="price-txt">Rs<span id="totalPrice">{{ cart_total_amount|floatformat:2 }}</span></span></li>
                                                </ul>
                                                <button class="def-btn tab-next-btn" id="proceedToCheckout">Proceed to checkout <i class="fa-light fa-cart-circle-check"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>