
<div class="wishlist py-120" id="wishlist-list">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="revel-table">
                    <div class="table-responsive">
                        <table class="table table-borderless">
                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Product Name</th>
                                    <th>Price</th>
                                    <th>Action</th>
                                    <th></th>
                                    <th>Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for w in w %}
                                <tr>
                                    <td>
                                        <div class="product-img">
                                            <img src="{{ w.product.image.url }}" alt="Image">
                                        </div>
                                    </td>
                                    <td><a href="{% url 'core:product-detail' w.product.pid %}" class="product-name"><b>{{ w.product.title|truncatechars:20 }}</b></a></td>
                                    <td><span class="price-txt">Rs <span class="current-product-price-{{ w.product.id }}">{{ w.product.price }}</span></span></td>
                                   
                                    <td><button class="add-to-cart-btn"><i class="fa-light fa-cart-shopping"></i></button><td>
                                    <td><button class="cart-delete delete-wishlist-product" data-wishlist-product="{{ w.id }}" title="Remove From List"><i class="fa-light fa-trash-can"></i></button></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <a href="shop.html" class="def-btn btn-border">CONTINUE SHOPPING</a>
            </div>
        </div>
    </div>
</div>